.fon {
	background-image: url(img/фон.png);
}

.bg {
	background-color: white;
	box-shadow: 0 0 10px #002951;
}

.logo {
	height: 40px;
	width: 140px;
	margin-left: 81px;
	margin-top: 15px;
	margin-bottom: 15px;
	opacity: 0.75;
}

.logo:hover {
	opacity: 1;
}

ul.menu li {
	display: inline-block;
	padding-left: 50px;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
}

.line {
	line-height: 1;
    position:relative;
	color: black;
}

.line:hover {
	text-decoration:none;
}

.line:after {
	display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #ff8400;
    left: 50%;
    position: absolute;
    -webkit-transition: width .1s ease-in-out;
    -moz--transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.line:hover:after,
.line:focus:after {
	width: 100%;
}

.h1 {
	background-image: url(img/h1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 1220px;
	height: 50px;
	margin: 40px -50px 40px -55px;
	border-radius: 10px;
	box-shadow: 0 0 10px #002951;
	font-size: 20px;
	padding: 10px 0 10px 20px;
	font-family: 'Roboto', sans-serif;
}


.left {
	background-color: white;
	border-radius: 20px;
	margin: 0px 50px 10px -40px;
	box-shadow: 0 0 20px #002951;
	font-family: 'Roboto', sans-serif;
}

.ava {
	height: 280px;
	width: 337px;
	margin: 20px -20px 10px 5px;
}

.name {
	font-size: 24px;
	font-weight: 600;
	margin-left: 5px;
}

.name1 {
	font-size: 14px;
	margin-left: 5px;
	
}

.social1 {
	margin: 20px 40px;
	
}

.social {
	width: 50px;
	height: 50px;
	margin-left: 20px;
	opacity: 0.50;
}

.social:hover {
	opacity: 1;
}

.content {
	background-image: url(img/content.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	margin: 40px -40px 0 25px;
	height: 380px;
	box-shadow: 0 0 20px #002951;
	font-family: 'Roboto', sans-serif;
}

.basic {
	font-size: 20px;
	font-weight: 600;
	padding: 40px 0 25px 15px;
}

.text {
	font-size: 15px;
	padding: 15px 0 0 20px;
}

.course {
	background-image: url(img/course.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	height: 430px;
	margin: 70px -50px 50px -55px;
	box-shadow: 0 0 20px #002951;
	font-family: 'Roboto', sans-serif;
}

.h2 {
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}

.h6 {
	font-size: 15px;
	text-align: justify;
	padding: 20px 50px 40px 250px;
	text-indent: 3em;
}

.h3 {
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 20px 50px 40px 50px;
	font-family: 'Roboto', sans-serif;
}

.font {
	font-family: 'Roboto', sans-serif;
	color: white;
	padding-bottom: 125px;
}

.one {
	padding-left: 80px;
}

.footer {
	background-color: white;
	box-shadow: 0 0 20px #002951;
}

.social2 {
	padding: 20px 50px 20px 90px;
}

.soc {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	opacity: 0.70; 
}

.soc:hover {
	opacity: 1;
}

.foot {
	padding: 25px 0 20px 140px;
	opacity: 0.75;
}

.foot:hover {
	opacity: 1;
}

.phone {
	padding: 20px 0 5px 230px;
	font-family: 'Roboto', sans-serif;
}